
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{ site.baseurl }}">
              <h4>{{ site.title }}</h4>
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-li" ><a href="{{site.baseurl}}j2e-learn/1-j2eLearnLeft/"><h4>j2e Learn</h4></a></li>
        </ul>
      </div>
    </div>
  </nav>
