<!DOCTYPE html>
<html lang="ko">

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="container">
			<div style="margin-top:50px;">
				{{ content }}
			</div>
		</div>

		{% include footer.html %}
	</body>

	{% include js/common-script.html %}

	<script type="text/javascript">
	  $(document).ready(function(){
			$(".post_list_right_li").each(function(index) {
				$(this).mouseenter(function(e){
					j2e($(".post_list_middle_li")[index]).animate({role:[{duration: 0.5, width:"10px"}]});
				});

				$(this).mouseleave(function(e){
					j2e($(".post_list_middle_li")[index]).animate({role:[{duration: 0.5, width:"5px"}]});
				});
			});
	  });
	</script>
</html>
