<!DOCTYPE html>
<html lang="ko">

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-sm-3 col-md-2 sidebar hidden-xs">
					<ul class="nav nav-sidebar">
						{% for j2eLearnList in site.j2eLearn %}
			      <li>
			        <a href="{{ j2eLearnList.url }}">{{ j2eLearnList.title }}</a>
			      </li>
						{% endfor %}
          </ul>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					{{ content }}
				</div>
			</div>
		</div>

		{% include footer.html %}
	</body>

	{% include js/common-script.html %}

	{% if page.title == '소개' %}
		{% include js/j2e-layout/info-script.html %}
	{% endif %}

	{% if page.title == 'backgroundColor' %}
		{% include js/j2e-layout/backgroundColor-script.html %}
	{% endif %}

	{% if page.title == 'backgroundPosition' %}
		{% include js/j2e-layout/backgroundPosition-script.html %}
	{% endif %}

	{% if page.title == 'backgroundSize' %}
		{% include js/j2e-layout/backgroundSize-script.html %}
	{% endif %}

	{% if page.title == 'borderBottom' %}
		{% include js/j2e-layout/borderBottom-script.html %}
	{% endif %}

	{% if page.title == 'borderBottomColor' %}
		{% include js/j2e-layout/borderBottomColor-script.html %}
	{% endif %}

	{% if page.title == 'borderBottomLeftRadius' %}
		{% include js/j2e-layout/borderBottomLeftRadius-script.html %}
	{% endif %}

	{% if page.title == 'borderBottomRightRadius' %}
		{% include js/j2e-layout/borderBottomRightRadius-script.html %}
	{% endif %}

	{% if page.title == 'borderBottomWidth' %}
		{% include js/j2e-layout/borderBottomWidth-script.html %}
	{% endif %}

	{% if page.title == 'borderColor' %}
		{% include js/j2e-layout/borderColor-script.html %}
	{% endif %}

	{% if page.title == 'borderLeft' %}
		{% include js/j2e-layout/borderLeft-script.html %}
	{% endif %}

	{% if page.title == 'borderLeftColor' %}
		{% include js/j2e-layout/borderLeftColor-script.html %}
	{% endif %}

	{% if page.title == 'borderLeftWidth' %}
		{% include js/j2e-layout/borderLeftWidth-script.html %}
	{% endif %}

	{% if page.title == 'borderRight' %}
		{% include js/j2e-layout/borderRight-script.html %}
	{% endif %}

	{% if page.title == 'borderRightColor' %}
		{% include js/j2e-layout/borderRightColor-script.html %}
	{% endif %}

	{% if page.title == 'borderRightWidth' %}
		{% include js/j2e-layout/borderRightWidth-script.html %}
	{% endif %}

	{% if page.title == 'borderSpacing' %}
		{% include js/j2e-layout/borderSpacing-script.html %}
	{% endif %}

	{% if page.title == 'borderTop' %}
		{% include js/j2e-layout/borderTop-script.html %}
	{% endif %}

	{% if page.title == 'borderTopColor' %}
		{% include js/j2e-layout/borderTopColor-script.html %}
	{% endif %}

	{% if page.title == 'borderTopLeftRadius' %}
		{% include js/j2e-layout/borderTopLeftRadius-script.html %}
	{% endif %}

	{% if page.title == 'borderTopRightRadius' %}
		{% include js/j2e-layout/borderTopRightRadius-script.html %}
	{% endif %}

	{% if page.title == 'borderTopWidth' %}
		{% include js/j2e-layout/borderTopWidth-script.html %}
	{% endif %}

	{% if page.title == 'bottom' %}
		{% include js/j2e-layout/bottom-script.html %}
	{% endif %}

	{% if page.title == 'boxShadow' %}
		{% include js/j2e-layout/boxShadow-script.html %}
	{% endif %}

	{% if page.title == 'color' %}
		{% include js/j2e-layout/color-script.html %}
	{% endif %}

	{% if page.title == 'font' %}
		{% include js/j2e-layout/font-script.html %}
	{% endif %}

	{% if page.title == 'fontSize' %}
		{% include js/j2e-layout/fontSize-script.html %}
	{% endif %}

	{% if page.title == 'fontWeight' %}
		{% include js/j2e-layout/fontWeight-script.html %}
	{% endif %}

	{% if page.title == 'height' %}
		{% include js/j2e-layout/height-script.html %}
	{% endif %}

	{% if page.title == 'left' %}
		{% include js/j2e-layout/left-script.html %}
	{% endif %}

	{% if page.title == 'margin' %}
		{% include js/j2e-layout/margin-script.html %}
	{% endif %}

	{% if page.title == 'marginBottom' %}
		{% include js/j2e-layout/marginBottom-script.html %}
	{% endif %}

	{% if page.title == 'marginLeft' %}
		{% include js/j2e-layout/marginLeft-script.html %}
	{% endif %}

	{% if page.title == 'marginRight' %}
		{% include js/j2e-layout/marginRight-script.html %}
	{% endif %}

	{% if page.title == 'marginTop' %}
		{% include js/j2e-layout/marginTop-script.html %}
	{% endif %}

	{% if page.title == 'opacity' %}
		{% include js/j2e-layout/opacity-script.html %}
	{% endif %}

	{% if page.title == 'outline' %}
		{% include js/j2e-layout/outline-script.html %}
	{% endif %}

	{% if page.title == 'outlineColor' %}
		{% include js/j2e-layout/outlineColor-script.html %}
	{% endif %}

	{% if page.title == 'outlineOffset' %}
		{% include js/j2e-layout/outlineOffset-script.html %}
	{% endif %}

	{% if page.title == 'outlineWidth' %}
		{% include js/j2e-layout/outlineWidth-script.html %}
	{% endif %}

	{% if page.title == 'padding' %}
		{% include js/j2e-layout/padding-script.html %}
	{% endif %}

	{% if page.title == 'paddingBottom' %}
		{% include js/j2e-layout/paddingBottom-script.html %}
	{% endif %}

	{% if page.title == 'paddingLeft' %}
		{% include js/j2e-layout/paddingLeft-script.html %}
	{% endif %}

	{% if page.title == 'paddingRight' %}
		{% include js/j2e-layout/paddingRight-script.html %}
	{% endif %}

	{% if page.title == 'perspective' %}
		{% include js/j2e-layout/perspective-script.html %}
	{% endif %}

	{% if page.title == 'perspectiveOrigin' %}
		{% include js/j2e-layout/perspectiveOrigin-script.html %}
	{% endif %}

	{% if page.title == 'right' %}
		{% include js/j2e-layout/right-script.html %}
	{% endif %}

	{% if page.title == 'textIndent' %}
		{% include js/j2e-layout/textIndent-script.html %}
	{% endif %}

	{% if page.title == 'textShadow' %}
		{% include js/j2e-layout/textShadow-script.html %}
	{% endif %}

	{% if page.title == 'top' %}
		{% include js/j2e-layout/top-script.html %}
	{% endif %}

	{% if page.title == 'translate' %}
		{% include js/j2e-layout/translate-script.html %}
	{% endif %}

	{% if page.title == 'translateX' %}
		{% include js/j2e-layout/translateX-script.html %}
	{% endif %}

	{% if page.title == 'translateY' %}
		{% include js/j2e-layout/translateY-script.html %}
	{% endif %}


	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</html>
