<!DOCTYPE html>
<html lang="ko">

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="container">

      <div class="post_title_div">
        <ul class="post_title_ul">
          <li>
            <span class="post_title_sapn">{{ page.title }}&nbsp;<span class="post_list_label">{{page.tags}}</span> </span>
          </li>
        </ul>

        <ul class="post_title_ul">
          <li>
            <span style="font-sizt:samll;">{{ page.date | date: "%Y-%m-%d" }}</span>
          </li>
        </ul>
      </div>

      <div style="margin-top:50px;">
			  {{ content }}
			</div>
		</div>

		{% include footer.html %}
	</body>

	{% include js/common-script.html %}

</html>
