
<script type="text/javascript">

  j2e.addRole({name:"role_1", role:[{share: "100", fontWeight:"800"}]});

  $(document).ready(function(){
    $("#keyframeButton").click(function(){
      j2e("#keyframeButton").setDuration(1).animate({name:"role_1"});
    });

    var checkValue = 0;
    $("#trasitionButton").click(function(){
      let value = "";
      if(checkValue == 0) {
        value = "800";
        checkValue = 1;
      } else if (checkValue == 1) {
        value = "normal";
        checkValue = 0;
      }
      j2e("#trasitionButton").animate({role:[{duration: 1, fontWeight:value}]});
    });

  });
</script>
